<br/>
<br/>
Copyright &copy; 2009–2013 Université de Bordeaux
<br/>
Copyright &copy; 2010-2013 CNRS
<br/>
Copyright &copy; 2011, 2012 INRIA
<br/>
<br/>
<br/>

<blockquote>
Permission is granted to copy, distribute and/or modify this document
under the terms of the GNU Free Documentation License, Version 1.3 or
any later version published by the Free Software Foundation; with no
Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. A
copy of the license is included in the section entitled “GNU Free
Documentation License”.
</blockquote>
<br/>
